<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/sigmo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sigmo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SigmoNfc"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".PayNfcActivity"
            android:exported="false" />

        <activity
            android:name=".ReceiveNfcActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tap-receive"
                    android:scheme="sigmo" />
                <data
                    android:host="card-claim"
                    android:scheme="sigmo" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SigmoHostApduService"
            android:description="@string/hce_service_description"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>
    </application>

</manifest>
